//server api endpoint
VITE_SERVER_API_ENDPOINT=

//firebase sdk 
VITE_SERVER_API_KEY=
VITE_SERVER_AUTH_DOMAIN=
VITE_SERVER_PROJECT_ID=
VITE_SERVER_STORAGE_BUCKET=
VITE_SERVER_MESSAGING_CENTER_ID=
VITE_SERVER_APP_ID=