PORT=
MONGO_DB_CONNECTION_STING=

//firebase service account private key
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY= //-----BEGIN PRIVATE KEY-----\n\n-----END PRIVATE KEY-----\n

ENVIRONMENT= //(development/production)
DEVELOPMENT_CLIENT_URL= //frontend url